
* 
{
	user-select: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550px;
    cursor: default;
    font-size: 16px;
}

html
{
    visibility: hidden;
    color: white;
}

body
{
    margin: 0;
    transform-style: preserve-3d;
    transform-origin: 0 100%;
    transform: rotateX(90deg);
    transition: 0.3s transform ease-in-out;
}

@keyframes show
{
    from {transform: rotateX(90deg);}
    to {transform: rotateX(0);}
}

@keyframes hide
{
    from {transform: rotateX(0deg);}
    to {transform: rotateX(90deg);}
}

div.container
{
    position: fixed;
    width: 100vh;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

img.bg
{
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player
{
    position: absolute;
    border-radius: 1000px;
    border: 0.2vh solid white;
    background-color: red;
    font-size: 0.75vh;
    width: 0.75vh;
    height: 0.75vh;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 5px #404040, 0px 0px 10px #404040, 0px 0px 15px #404040;
    transition: 3s top linear, 3s left linear;
}

.player.me
{
    animation: 1.5s ease-in-out fade infinite;
}

@keyframes fade
{
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.fa.fa-crosshairs {color: red; text-shadow: 1px 1px 4px black;}

.fa-map-marker-alt
{
    color: #00C3FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 2.5vh;
}

div.tooltip
{
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px;
    font-weight: bold;
    font-size: 2vh;
    border: 2px solid white;
    transform: translate(5px, 5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

div.tooltip div.hint
{
    color: rgb(50, 50, 50);
    font-style: italic;
}