
* 
{
	user-select: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550px;
    cursor: default;
    font-size: 32px;
}

html
{
    visibility: hidden;
    color: white;
}

div.container
{
    font-size: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 600px;
    border: 2px solid white;
    overflow: hidden;
}

div.container:empty {border: 0 solid white;}

div.message
{
    font-size: 16px;
    clear: both;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
    user-select: none;
    word-wrap: break-word;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.5);
    cursor: auto;
}

div.message:hover
{
    cursor: default;
}

div.message.atted
{
    background-color: rgba(255, 255, 0, 0.5);
    border-left: 8px solid yellow;
}

div.message:not(:first-of-type)
{
    border-top: 2px solid white;
}

span.player-name
{
    font-weight: bold;
    border-radius: 3px;
    cursor: default;
    /*transition: background-color 0.2s linear, box-shadow 0.2s linear;*/
}

#tag
{
    display: inline-block;
	position: relative;
    bottom: 6px;
	height: 100%;
	width: max-content;
	padding-left: 8px;
	padding-right: 8px;
    margin-right: 6px;
	background-color: gray;
	border-radius: 50px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

span.item {font-weight: bold;}

span.item.Common {color: #D99055;}
span.item.Uncommon {color: #77ED3B;}
span.item.Rare {color: #3BC1ED;}
span.item.Epic {color: #E73BED;}
span.item.Legendary {animation: legendary-tooltip 10s infinite linear;}


div.tooltip>span.rarity {font-weight: bold;}

div.tooltip>span.rarity.Common {color: #D99055;}
div.tooltip>span.rarity.Uncommon {color: #77ED3B;}
div.tooltip>span.rarity.Rare {color: #3BC1ED;}
div.tooltip>span.rarity.Epic {color: #E73BED;}
div.tooltip>span.rarity.Legendary {animation: legendary-tooltip 10s infinite linear;}


@keyframes legendary-tooltip 
{
    0% { color: #FF4040; }
    18% { color: #FFC640; }
    36% { color: #FFFC40; }
    54% { color: #40FF40; }
    72% { color: #40AFFF; }
    90% { color: #DF40FF; }
    100% { color: #FF4040; }
}
